@import '../../style/index.scss';

.star-key-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    .key-wrapper {
        width:60px;
        height: 60px;
        padding: 0px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;
        z-index: 1;
        background: $accent-yellow;

        .key {
            width: 100%;
            object-fit: contain;
            border-radius: 100%;
            padding: 8px;
            z-index: 1;
        }
        .number {
          font-size: 38px;
          color: $primary-brown;
        }
    }

    .stars {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px; 
        border-radius: 30px;
        padding: 10px 10px;
        position: relative;

        svg {
            color: $accent-yellow;
            font-size: 36px;
        }
    }
}
