@import '../../style/index.scss';

.result-page {
  text-align: center;
  position: relative;

  h2 {
    margin: 40px 0;
  }

  p {
    margin: 60px 0;
    font-size: 1.5rem;
  }

  .buttons-area{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pushable-btn {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 20px;

    &:disabled{
      opacity: 0.5;
      pointer-events: none;
      filter: grayscale(100%);
    }

    &:hover {
      filter: brightness(110%);

      .front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }

      .shadow {
        transform: translateY(4px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }
    }

    &:active {
      .front {
        transform: translateY(-2px);
        transition: transform 34ms;
      }

      .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
      }
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: hsl(226, 25%, 69%);
      border-radius: 8px;
      filter: blur(2px);
      will-change: transform;
      transform: translateY(2px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }

    .edge {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      background: linear-gradient(to right,
      #145AF2 0%,   
      #2b6af3 8%,   
      #2b6af3 92%,  
      #145AF2 100%);
    }

    .front {
      display: block;
      position: relative;
      border-radius: 8px;
      background: #5C8DF6;
      padding: 15px 30px;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .9rem;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      @include no-text-highlight
    }
  }
  
  .lottie{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    > div{
      width: 100%!important;
      height: 100%!important;
      pointer-events: none;
    }
  }
}