@import '../../style/index.scss';

.modal-overlay {
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  background-color: rgba(1, 82, 141, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;

  .modal-content {
    position: relative;
    z-index: 1;
    padding: 30px 40px 50px;
    color: #fff;
    text-align: center;
    background: $primary-brown;
    width: 50%;
    max-width: 750px;
    border-radius: 30px;
    height: auto !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
  }

  .modal-close-btn {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: $accent-lightbrown;
    border: none;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: black;
      transform-origin: center;
      transition: background-color 0.3s ease;
    }
  
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    &:hover:before,
    &:hover:after {
      background-color: #222;
    }
  }
  

  /* Fade animations */
  &.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s;
    
    .modal-content {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-in-out, visibility 0s;
    }
  }

  &.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    
    .modal-content {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    }
  }
}
