.game-nav-links {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 4%;
    left: 4%;
    z-index: 2;
}

.game-nav-links {
    button, a {
        display: block;
        text-decoration: none;
        padding: 10px 0px;
        font-size: 18px;
        cursor: pointer;
        color: #000;
        text-align: center;
        width: 50px;
        height: 50px;
        border: none;
        box-sizing: border-box;
    }

    .back-link {
        background: url('../../assets/images/inventa-back.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .help-link {
        background: url('../../assets/images/inventa-help.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .home-link {
        background: url('../../assets/images/inventa-home.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}