@import '../../style/index.scss';

.math-game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .questions,
  .answers {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
  }

  .question{
    margin: 10px;
    padding: 1px;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    .q-wrapper{
      padding: 20px;
      border-radius: 20px;
      font-size: 22px;
      background: #fff;
      position: relative;
      border: 2px solid #000;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(-45deg, #5C8DF6 0%, #34cccd 100% );
        z-index: -1;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border: 2px solid #000;
      }
      &:hover::before {
        transform: rotate(-180deg);
      }
    }
  }

  .answer {
    margin: 10px;
    border: 2px solid black;
    background: var(--accent-blue);
    border-radius: 20px;
    font-size: 32px;
    min-width: 70px;
    text-align: center;
    padding: 10px 10px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-user-select: none;
    user-select: none;
    color: black;

    &:hover {
      border: 1px solid #145af2;
      transform: scale(1.05);
    }
  }

  .question-text{
    font-size: 28px;
    letter-spacing: 1px;;
  }

  .answer-slot {
    margin-top: 15px;
  }
  .drop-slot {
    height: 55px;
    border: 1px dashed #34cccd;
    padding: 15px;
    background: var(--accent-blue);
    min-width: 85px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include no-text-highlight;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    span{
      color: #31b1b1;
      font-size: 16px;
      max-width: 80px;
      line-height: 1.3;
    }
  }

  .drop-slot:has(span) {
    background-color: #fbfcfd;
  }



  .has-answer{
    .drop-slot {
      border: 1px dashed #447cf5;
      min-width: 90px;
      height: 60px;
      font-size: 26px;
    }
  }

  .pushable-btn {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 20px;

    &:disabled{
      opacity: 0.5;
      pointer-events: none;
      filter: grayscale(100%);
    }

    &:hover {
      filter: brightness(110%);

      .front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }

      .shadow {
        transform: translateY(4px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }
    }

    &:active {
      .front {
        transform: translateY(-2px);
        transition: transform 34ms;
      }

      .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
      }
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    .front {
      display: block;
      position: relative;
      border-radius: 0px;
      background: var(--primary-blue);
      padding: 20px 40px;
      color: white;
      font-weight: 600;
      font-size: .9rem;
      font-size: 21px;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      @include no-text-highlight;
      border: 2px solid #000;
    }
  }
}