
.memory-card {
    position: relative;
    cursor: pointer;
    border: none !important;
}
  
  .memory-card .front{
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 2px solid black;
      position: absolute;
      transform: rotateY(90deg);
      transition: all ease-in 0.2s;
      object-fit: contain;
      padding: 10px;
  }
  
  .memory-card .front.matched{
      background-color: var(--primary-yellow);
  }
  
  .flipped .front {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
  }
  
  .memory-card .back{
      background-color: var(--primary-brown);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 2px solid white;
      transition: all ease-in 0.2s;
      transition-delay: 0.2s;
      object-fit: cover;
      padding: 10px;
  }
  
  .flipped .back {
      transform: rotateY(90deg);
      transition-delay: 0s;
  }
  

.memory-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('../../assets/images/Inventa-Island.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    widows: 100vw;
    box-sizing: border-box;;
  }
  
  .memory-container button {
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
  }
  
  .memory-container button:hover {
    filter: brightness(0.7);
    cursor: pointer;
  }
  
  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-lightbrown);
    font-size: 1.5rem;
    background-color: var(--primary-brown);
    border: 3px solid var(--primary-yellow);
    width: 10rem;
    height: 4rem;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .grid {
    height: 650px;
    width: 800px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  
  .grid div img {
    width: 85%;
  }

  /* <!-- ---- Colour Card ---- --> */
  #colour-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

#colour-cards .card {
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 5px 0px rgba(146, 146, 146, 0.75);
    display: flex;
    flex-direction: column;
    /* --mask:
        radial-gradient(47.77px at 50% 68.80px,#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
        radial-gradient(48.77px at 50% -36.8px,#0000 99%,#000 101%) 50% 32px/128px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask); */
    cursor: pointer;
}

#colour-cards .card .color {
    flex: 1;
    background-color: #26F786;

}

#colour-cards .card .color-text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #FFF;
    color: red;
}
