@import '../../style/index.scss';

.word-scramble-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .scrambled-word {
    display: flex;
    background: rgba(116, 81, 45, .9);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .letter-box {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 32px;
    box-sizing: border-box;
    background: #fbfcfd;
    border: 2px solid transparent;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    color: black;
    @include no-text-highlight;

    &:hover {
      border-color: $primary-yellow;
      transform: scale(1.05);
    }
    
    &:active {
      border-color: $primary-yellow;
      transform: scale(0.95) rotateZ(1.7deg);
    }
  }

  .status {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .score {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .image-container {
    position: relative;
    width: auto;
    margin: 50px;
    z-index: 1;
    
    .img-content {
      background: rgba(116, 81, 45, .8);
      box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.06);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      padding: 30px;
      pointer-events: none;
      img{
        width: 100%;
        max-width: 300px;
        border-radius: 16px;
        pointer-events: none;
        vertical-align: middle;
        @include no-text-highlight
      }
    }
  
    .circle {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      position: absolute;
    }
  
    .circle-one {
      top: 3%;
      left: 3%;
      z-index: -1;
      background: $primary-yellow;
      transform: translate(-45%, -45%);
    }
  
    .circle-two {
      bottom: 0;
      right: 0;
      z-index: -1;
      transform: translate(45%, 45%);
      background: $primary-brown;
    }
  }

  .pushable-btn {
    position: relative;
    background: transparent;
    padding: 0px;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 20px;
    @include no-text-highlight;
    font-family: inherit;
    color: $accent-lightbrown;
    border: none;

    &:disabled{
      opacity: 0.5;
      pointer-events: none;
      filter: grayscale(100%);
    }

    &:hover {
      filter: brightness(110%);

      .front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }

      .shadow {
        transform: translateY(4px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      }
    }

    &:active {
      .front {
        transform: translateY(-2px);
        transition: transform 34ms;
      }

      .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
      }
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    .front {
      display: block;
      position: relative;
      border-radius: 10px;
      background: $primary-brown;
      padding: 20px 40px;
      font-weight: 600;
      font-size: .9rem;
      font-size: 32px;
      font-family: inherit;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      @include no-text-highlight;
      color: $accent-lightbrown;
    }
  }
}