.game-map {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url('../../assets/images/Island-Map.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .welcome-title {
    position: absolute;
    z-index: 0;
    width: 200px;
    bottom: 4%;
    right: 4%;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 40px 20px 20px;
    color: #000;
    text-align: center;
    width: 80%;
    height: 80vh;
    
    h1 {
      font-size: 50px;
      font-weight: normal;
      color: var(--accent-yellow);
      margin-bottom: 70px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    height: 100%;
    li{
      width: 50%;
      text-align: left;
      margin: 20px auto;
      &:nth-child(even){
        text-align: right;
      }
    }
  }

  .challenges-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    border-radius: 9999px;

    &:hover{
      .name{
        box-shadow: 0 0 30px var(--accent-yellow);

        &::before{
          display: inline-block;
        }
      }
      .score{
        .circle{
          &::before{
            display: inline-block;
          }
          &::after{
            display: inline-block;
          }
        }
        .stars{
          &::before{
            display: inline-block;
          }
          &::after{
            display: inline-block;
          }
        }
      }
    }
  }

  .name {
    font-size: 32px;
    color: var(--accent-lightbrown);
    display: inline-block;
    background-color: var(--primary-brown);
    padding: 35px;
    border-radius: 20px;;
    position: relative;
    bottom: -14px;
    position: relative;
    
    &::before{
      display: none;;
      content: '';
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: 5px solid var(--accent-yellow);
      border-radius: 25px;
      position: absolute;
      top: -6px;
      left: -6px;
    }
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
      border-radius: 9999px;
      padding: 4px;
      position: relative;
      z-index: 2;
      background-color: var(--primary-brown);
      width: 40px;
      height: 40px;

      &::before{
        content: '';
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 5px solid var(--accent-yellow);
        border-radius: 9999px;
        position: absolute;
        top: -6px;
        left: -6px;
        border-top-color: transparent;
        border-right-color: transparent;
        display: none;
      }

      &::after{
        content: '';
        width: 17px;
        height: 15px;
        background-color: var(--primary-brown);
        position: absolute;
        top: -2px;
        left: -10px;
        display: none;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-yellow);
        border-radius: 9999px;
        min-width: 40px;
        min-height: 40px;
      }
    }

    .stars {
      border-radius: 9999px;
      padding: 7px 10px;
      border-left: 0;
      padding-left: 45px;
      margin-left: -40px;
      position: relative;
      background-color: var(--primary-brown);
      z-index: 1;

      &::before{
        content: '';
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 5px solid var(--accent-yellow);
        border-radius: 9999px;
        position: absolute;
        top: -6px;
        left: -6px;
        border-top-color: transparent;
        display: none;
      }

      &::after{
        content: '';
        width: 17px;
        height: 15px;
        background-color: var(--primary-brown);
        position: absolute;
        top: -8px;
        right: -10px;
        display: none;
      }

      .solidStar { 
        path {
          fill: var(--accent-yellow)!important;
        }
      }

      svg {
        display: inline-block;

        path {
          fill: #444 !important;
          stroke: #000;
          stroke-width: 20px;
        }
      }
    }
  }
}