:root {
  --primary-blue: #01528D;
  --accent-yellow: #f9cc0d;
  --accent-blue: #30c7fc;
  --secondary-blue: #00355b;
  --primary-brown: #402500;
  --accent-lightbrown: #d7c2ae;
  --primary-yellow: #f8cf1a;
}

body {
  margin: 0;
  font-family: "Belanosima", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-wrapper {
  font-size: 30px;
  color: var(--primary-brown);
  z-index: 1;
  cursor: pointer;

  a {
    font-weight: 700;
    color: var(--primary-brown);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 30px;
    text-decoration: none;
  }

  button {
    font-weight: 700;
    color: var(--primary-brown);
    border-radius: 10px;
    padding: 15px 60px;
    font-size: 30px;
    text-decoration: none;
  }
}

@mixin no-text-highlight {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}