.welcome-page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url('../../assets/images/Inventa-Island.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}