.pt-md {
  padding-top: 20px;
}

.home-page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url('../../assets/images/Inventa-Island.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;

  .home-title {
    width: 40%;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 0px 20px 20px;
    color: #000;
    text-align: center;

    p {
      margin-bottom: 20px;
      max-width: 667px;
      margin: 0 auto;
      line-height: 1.2em;
      font-size: 26px;
      color: var(--primary-brown);
    }

    .btn-wrapper {
      margin-top: 60px;

      a {
        background: var(--accent-yellow);
        z-index: 1;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.1
  }

  100% {
    transform: rotate(360deg);
    opacity: 1
  }
}