.home-page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #01528D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .home-bg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    z-index: 0;
    width: 60%;
    height: 610px;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 0 20px 40px 20px;
    color: #fff;
    text-align: center;

    h1 {
      font-size: 65px;
      font-weight: 400;
      background: url('../../assets/images/title-bg.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: fit-content;
      color: #212121;
      padding: 40px 15px;
      margin: 0 auto;
      line-height: 1em;
      letter-spacing: 1px;
      margin-bottom: 20px;

      .large {
        font-size: 86px;
        font-weight: 500;
      }

      .small {
        font-size: 45px;
      }

      span {
        display: block;
        line-height: 1em;
      }
    }

    p {
      margin-bottom: 30px;
      max-width: 667px;
      margin: 0 auto;
      line-height: 1.5;
      width: 80%;
      margin-bottom: 30px;
      font-size: 21px;
    }

    .logo-icon{
      display: block;
      width: 20%;
      max-width: 300px;
    }

    .logo{
      max-width: 500px;
      margin: 50px auto;

      @media screen and (max-width: 767px) {
        margin: 30px auto;
      }
    }
  }
  
  button {
    font-size: 30px;
    color: #212121;
    background: rgb(243, 208, 53);
    z-index: 1;
    padding: 25px 60px;
    outline: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.1
  }

  100% {
    transform: rotate(360deg);
    opacity: 1
  }
}